:root {
  --font-sans-serif: "Alegreya Sans SC",
    "Helvetica Neue",
    "Segoe UI",
    "Helvetica",
    "Arial",
    "sans-serif";
  --color-dark: rgba(0, 0, 0, 0.8);
  --color-light: #fff;
  --color-callout-bkg: #f8ceff;
}

.keywords {
  font-family: var(--font-sans-serif);
  font-weight: 600;
}

.text-uppercase {
  font-family: var(--font-sans-serif);
  font-weight: 600;
  text-transform: uppercase;
}

.callout {
  background: var(--color-callout-bkg);
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.adventure-points {
  margin-right: .75rem;
  background: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-sans-serif);
  padding: 0 0.4rem;
  font-size: .9rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
  top: -2px;
}

.adventure-points::after {
  content: '';
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: var(--color-dark);
  border-width: 14px;
  margin-top: -14px;
}

.rollthedie {
  background: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-sans-serif);
  padding: 0 0.4rem;
  font-size: .9rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
  top: -2px;
}