@import "~breakpoint-sass/stylesheets/breakpoint";

:root {
  --font-sans-serif-sc: "Alegreya Sans SC", "Helvetica Neue", "Segoe UI",
    "Helvetica", "Arial", "sans-serif";
  --font-sans-serif: "Alegreya", "Helvetica Neue", "Segoe UI", "Helvetica",
    "Arial", "sans-serif";
  --color-dark: rgba(0, 0, 0, 0.8);
  --color-light: #fff;
  --color-medium: #d4d5d7;
  --color-callout-bkg: #f8ceff;
  --content-width: 800px;
}

$breakpoint-lg: 900px;
$breakpoint-lt-lg: $breakpoint-lg - 1px;
$breakpoint-xlg: 1100px;

@mixin xlarge {
  @include breakpoint($breakpoint-xlg) {
    @content;
  }
}

@mixin large {
  @include breakpoint($breakpoint-lg) {
    @content;
  }
}

@mixin lt-large {
  @include breakpoint(max-width $breakpoint-lt-lg) {
    @content;
  }
}

// @import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/_nav.scss";
@import "../../node_modules/bootstrap/scss/_navbar.scss";

body {
  color: var(--color-dark);
}

.site-header {
  margin-bottom: 2rem;
  background: rgba(0, 0, 0, 0.9);
  color: var(--color-light);
  position: relative;

  &__content {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;

    @include large {
      align-items: center;
      justify-content: center;
    }
  }

  &__logo {
    margin: 0;
    max-width: 150px;

    @include large {
      margin-top: 1rem;
      margin-bottom: 1rem;
      max-width: 300px;
    }
  }

  a {
    color: var(--color-light);
    text-decoration: none;
  }
}

.nav {
  font-family: var(--font-sans-serif);

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      transition: all 0.15s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .menu-toggle {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    font-size: 1.2rem;
    z-index: 100;

    &.hide {
      display: none;
    }

    @include large {
      display: none;
    }
  }

  @include lt-large {
    ul {
      width: 100%;
      transition: all 0.1s;

      &.hide {
        opacity: 0;
        transform: translateY(-50px);
        top: -100px;
        left: 0;
        position: absolute;
        transition: none;

        a {
          pointer-events: none;
        }
      }

      &.show {
        opacity: 1;
        transform: translateY(0px);
        top: 0;
        position: relative;
        margin-top: 1rem;
      }

      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        font-size: 1rem;
        line-height: 1;
      }

      a {
        display: block;
        padding: 0.5rem 0;
      }
    }
  }

  @include large {

    ul,
    ul.hide {
      display: flex;
      flex-flow: row nowrap;

      li {
        margin: 0 1.5rem 0 0;
        font-size: 1rem;
        line-height: 1;
      }
    }
  }

  @include xlarge {

    ul,
    ul.hide {
      li {
        font-size: 1.3rem;
      }
    }
  }
}

.keywords {
  font-family: var(--font-sans-serif-sc);
  font-weight: 600;
}

.text-uppercase {
  font-family: var(--font-sans-serif-sc);
  font-weight: 600;
  text-transform: uppercase;
}

.callout {
  background: var(--color-callout-bkg);
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.adventure-points {
  margin-right: 0.75rem;
  background: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-sans-serif-sc);
  padding: 0 0.4rem;
  font-size: 0.9rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
  top: -2px;
}

.adventure-points::after {
  content: "";
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: var(--color-dark);
  border-width: 10px;
  margin-top: -10px;
}

.rollthedie {
  background: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-sans-serif-sc);
  padding: 0 0.4rem;
  font-size: 0.9rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
  top: -2px;
}

.source {
  background: var(--color-medium);
  font-family: var(--font-sans-serif-sc);
  padding: 0 0.4rem;
  font-size: 1rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
  top: -2px;
}

.action-point-cost {
  white-space: nowrap;
}

h1 {
  font-size: 2.5rem;
}

*+h1 {
  margin-top: 5rem;
}

*+h2 {
  margin-top: 2rem;
}

h3 {
  font-weight: 400;
}

a,
a:link {
  color: #0482C9;

  &:hover {
    color: darken(#0482C9, 15%);
  }
}

.site-footer {
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0.9);
  color: var(--color-light);
  padding: 2rem;
  text-align: center;

  @include large {
    padding: 2rem 4rem;
  }

  &__logo {
    margin: 0 auto 1rem;
    max-width: 300px;

    @include large {
      margin-top: 1rem;
      margin-bottom: 1rem;
      max-width: 200px;
    }
  }

  a {
    color: var(--color-light);
  }

  p {
    margin: 0 auto 3rem;
    font-family: var(--font-sans-serif);
    opacity: .8;
    max-width: var(--content-width);
  }
}